@page
@using Project.Models
@model Project.Pages.ChangeRoomsModel
@{
}
<script name="Scripts">
    function SendForm(id)
    {
        var isOk = true;

        var n = document.getElementsByName('name')[id].value;
        if (n == '' || n == null) 
        { 
            isOk = false;
        }

        var n = document.getElementsByName('desc')[id].value;
        if (n == '' || n == null) 
        {
            isOk = false;
        }

        var n = document.getElementsByName('logo')[id].value;
        if (n == '' || n == null) 
        {
            isOk = false;
        }

        var n = document.getElementsByName('time')[id].value;
        if (!/^\d{1,2}:\d{1,2}:\d{1,2}$/.test(n)) 
        {
            isOk = false;
            document.getElementsByName('time')[id].value = '';
        }

        var n = document.getElementsByName('adress')[id].value;
        if (n == '' || n == null) 
        {
            isOk = false;
        }

        var a = document.getElementsByName('min')[id].value;
        var b = document.getElementsByName('max')[id].value;
        if (a > b) 
        {
            isOk = false;
        }
        
        if (!isOk)
        {
            alert('Wrong info!');
        }
        return isOk;
    }
</script>

<form class="formGrid" onsubmit="return SendForm(0)" method="post" asp-page-handler="addroom">
    <div class="oneRoomTitleText" style="grid-column-start: 1; grid-column-end: 3">Add room:</div>
    <span style="grid-column: 1">Name:</span><input style="grid-column: 2" name="name" placeholder="Name..." />
    <span style="grid-column: 1">Description:</span><textarea style="grid-column: 2" name="desc" placeholder="Description..."></textarea>
    <span style="grid-column: 1">Logo source:</span><input style="grid-column: 2" name="logo" placeholder="Logo..." />
    <span style="grid-column: 1">Time:</span><input style="grid-column: 2" name="time" placeholder="hh:mm:ss" />
    <span style="grid-column: 1">Min players:</span><input style="grid-column: 2" name="min" type="number" value="1" min="1" max="10" />
    <span style="grid-column: 1">Max players:</span><input style="grid-column: 2" name="max" type="number" value="1" min="1" max="10" />
    <span style="grid-column: 1">Min age:</span><input style="grid-column: 2" name="age" type="number" value="0" min="0" max="20" />
    <span style="grid-column: 1">Adress:</span><input style="grid-column: 2" name="adress" placeholder="Adress..." />

    <span style="grid-column: 1">Rating:</span><input style="grid-column: 2" name="rating" type="number" value="1" min="1" max="5"/>
    <span style="grid-column: 1">Fear:</span><input style="grid-column: 2" name="fear" type="number" value="1" min="1" max="5" />
    <span style="grid-column: 1">Difficulty:</span><input style="grid-column: 2" name="difficulty" type="number" value="1" min="1" max="5" />
    
    <span style="grid-column: 1">Company:</span><select style="grid-column: 2" name="company">
        @{
            foreach (Company c in Model.context.Companies)
            {
                                <option>@(c.Id + ". " + c.Name)</option>
            }
        }
    </select><br />
    <br />
    <button id="b1" class="searchButton" style="grid-column-start: 1; grid-column-end: 3">Add room</button>
</form>

<form class="formGrid" onsubmit="return SendForm(1)" method="post" asp-page-handler="changeroom">
    <div class="oneRoomTitleText" style="grid-column-start: 1; grid-column-end: 3">Change room:</div>

    <span style="grid-column: 1">Id:</span><select style="grid-column: 2" name="id">
        @{
            foreach (QuestRoom q in Model.context.QuestRooms)
            {
                            <option>@(q.Id + ". " + q.Name)</option>
            }
        }
    </select>

    <span style="grid-column: 1">Name:</span><input style="grid-column: 2" name="name" placeholder="Name..." />
    <span style="grid-column: 1">Description:</span><textarea style="grid-column: 2" name="desc" placeholder="Description..."></textarea>
    <span style="grid-column: 1">Logo source:</span><input style="grid-column: 2" name="logo" placeholder="Logo..." />
    <span style="grid-column: 1">Time:</span><input style="grid-column: 2" name="time" placeholder="hh:mm:ss" />
    <span style="grid-column: 1">Min players:</span><input style="grid-column: 2" name="min" type="number" value="1" min="1" max="10" />
    <span style="grid-column: 1">Max players:</span><input style="grid-column: 2" name="max" type="number" value="1" min="1" max="10" />
    <span style="grid-column: 1">Min age:</span><input style="grid-column: 2" name="age" type="number" value="0" min="0" max="20" />
    <span style="grid-column: 1">Adress:</span><input style="grid-column: 2" name="adress" placeholder="Adress..." />

    <span style="grid-column: 1">Rating:</span><input style="grid-column: 2" name="rating" type="number" value="1" min="1" max="5" />
    <span style="grid-column: 1">Fear:</span><input style="grid-column: 2" name="fear" type="number" value="1" min="1" max="5" />
    <span style="grid-column: 1">Difficulty:</span><input style="grid-column: 2" name="difficulty" type="number" value="1" min="1" max="5" />

    <span style="grid-column: 1">Company:</span><select style="grid-column: 2" name="company">
        @{
            foreach (Company c in Model.context.Companies)
            {
                            <option>@(c.Id + ". " + c.Name)</option>
            }
        }
    </select><br />
    <button id="b2" class="searchButton" style="grid-column-start: 1; grid-column-end: 3">Change room</button>
</form>

<form class="formGrid" method="post" asp-page-handler="deleteroom">
    <div class="oneRoomTitleText" style="grid-column-start: 1; grid-column-end: 3">Delete room:</div>

    <span style="grid-column: 1">Id:</span><select style="grid-column: 2" name="id">
        @{
            foreach (QuestRoom q in Model.context.QuestRooms)
            {
                <option>@(q.Id + ". " + q.Name)</option>
            }
        }
    </select>
    <br />
    <button id="b3" class="searchButton" style="grid-column-start: 1; grid-column-end: 3">Delete room</button>
</form>

<script>
    if (@(Model.context.Companies.Count()) == 0) 
    {
        b1.disabled = true;
        b2.disabled = true;
    }
    if (@(Model.context.QuestRooms.Count()) == 0) 
    {
        b2.disabled = true;
        b3.disabled = true;
    }
</script>